<div class="col-md-3 mx-auto ">
<legend> Enter your details  </legend>
    <form>
        <div class="form-group ">
            <label for="exampleInputEmail1">UserName </label>
            <input type="email" class="form-control" name="email" id="exampleInputEmail1" name="email"
                aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Please enter a valid username</small>
        </div>
        <div class="form-group ">
            <label for="exampleInputEmail1">Email </label>
            <input type="email" class="form-control" name="email" id="exampleInputEmail1" name="email"
                aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                placeholder="Password">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Confirm Password</label>
            <input type="password" name="confpassword" class="form-control" id="exampleInputPassword1"
                placeholder="Confirm Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>